#seq {
	display: inline-block;
	width: 100%;
}
#fib {
	display: inline-block;
	width: 100%;
}
#pell {
	display: inline-block;
	width: 100%;
}
#trib {
	display: inline-block;
	width: 100%;
}

.seq {
	background-color: rgba(255,255,0,0.1);
	font-size: 90%;
}
.fib {
	background-color: rgba(255,255,100,1);
	font-size: 90%;
}
.pell {
	background-color: rgba(255,255,100,1);
	font-size: 90%;
}
.trib {
	background-color: rgba(255,255,100,1);
	font-size: 90%;
}

.seq-left {
	float: left;
	display: inline-block;
	margin-right: 4px;
}

.seq-right {
	float: right;
	display: inline-block;
	margin-left: 4px;
}

.seq-mid {
	display: inline-block;
	margin: auto;
}

.shadow {
	text-shadow: 1px 1px 2px black;
	color: white;
}
.box {
	font-family: 'helvetica neue', helvetica, sans-serif;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: center;
	padding: 3px 10px;
	margin: 10px;
	cursor: pointer;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
}

.link {
	border-color: rgb(0,255,0);
	background:   rgb(60,180,60);
	box-shadow: 1px 1px 2px rgba(0,200,0,0.4);
}

.red {
	border-color: rgb(255,0,0);
	background:   rgb(180,60,60);
	box-shadow: 1px 1px 2px rgba(200,0,0,0.4);
}

.blue {
	border-color: rgb(0,0,255);
	background:   rgb(60,60,180);
	box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
}

.green {
	border-color: rgb(0,255,0);
	background:   rgb(60,180,60);
	box-shadow: 1px 1px 2px rgba(0,200,0,0.4);
}